body {
  animation: fadeIn 1s ease 0s 1 normal;
  font-family: Roboto;
}

/* ==============================
  Styling for 404 page
============================== */

body.error404 {
  header.site-header {
    div.title-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -60%);
      h1 {
        margin-left: 10px;
        padding-left: 30px;
        letter-spacing: 0.2rem;
        font-size: 3.5rem;
        width: 180px;
        height: 70px;
        transform: rotate(-5deg);
      }
      p {
        margin-bottom: 40px;
        text-align: center;
      }
    }
  }
}

/* ==============================
  Styling for front page
============================== */

body.home {
  h1 {
    font-family: Cinzel;
    text-align: center;
    #title1stRow {
      display: block;
      font-size: 1rem;
      letter-spacing: 0.5rem;
    }
    #title2ndRow {
      display: block;
      font-size: 2.3rem;
      letter-spacing: 0.2rem;
    }
  }
  .main-image-container {
    width: 100%;
    height: 40vh;
    .main-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 0 30%;
    }
  }
  nav ul {
    list-style: none;
    font-weight: bold;
    text-align: center;
    padding: 0;
    margin: 50px 0 0;
    position: relative;
    overflow: hidden;
    li {
      margin-bottom: 40px;
      height: 50px;
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-image: url(./images/red-brush-line.png);
        background-size: 35%;
        background-repeat: no-repeat;
        background-position: 55% 0%;
      }
      a {
        text-decoration: none;
        color: black;
        letter-spacing: 0.1rem;
        font-size: 1.4rem;
        font-weight: 400;
        display: inline-block;
        transform: translateY(10%);
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* ==============================
  Styling for Header
============================== */

.site-header {
  h1 {
    width: 150px;
    padding-left: 15px;
    margin-left: 30px;
    line-height: 50px;
    height: 65px;
    background-image: url(./images/red-brush-line.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0% 100%;
  }
}

/* ==============================
  Styling for Home Button
============================== */

.home-button {
  color: white;
  display: block;
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 0 auto;
  background-color: $accent-color;
  border-radius: 15px;
  border: none;
  text-decoration: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

/* ==============================
  Styling for About Page
============================== */

body.single-about {
  margin: 0;
  padding-bottom: 100px;
}

div.about-pic-container {
  margin-top: 30px;
  width: 100%;
  img {
    width: 100%;
    height: auto;
  }
}

div.about-tagline {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  p {
    margin: 40px 0;
    font-weight: bold;
    font-size: 1.7rem;
  }
}

div.about-field {
  width: 90%;
  margin: 40px auto 80px;
  h2.about-field-title {
    font-size: 1.2rem;
    background-color: black;
    color: white;
    line-height: 50px;
    padding-left: 45px;
    border-bottom: 6px solid $accent-color;
    border-radius: 30px 0;
  }
  div.about-field-content {
    width: 85%;
    margin: 0 auto;
    div.tech-icons {
      display: flex;
      justify-content: space-between;
      font-size: 2.5rem;
      margin: 30px 0 40px;
    }
    p.about-field-content-text {
      line-height: 150%;
    }
    a.resume-link {
      display: inline-block;
      color: $accent-color;
      font-weight: bold;
      margin-top: 20px;
    }
    p.philosophy-tagline {
      font-weight: bold;
      font-size: 1.3rem;
    }
    div.career-detail {
      width: 90%;
      margin: 40px auto 0;
      article.career {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto 40px;
        div.career-thumbnail {
          margin: 0 auto;
          flex-basis: 30%;
          a img {
            width: 100%;
            height: auto;
          }
        }
        div.company-detail {
          flex-basis: 60%;
          margin: 0 auto;
          h3.company-name {
            margin-bottom: 5px;
            font-size: 1rem;
            a {
              color: $accent-color;
            }
          }
          p {
            margin: 0;
            font-size: 0.8rem;
            line-height: 120%;
          }
        }
      }
    }
  }
}

/* ==============================
  Styling for Contact Page
============================== */

body.page {
  padding-bottom: 100px;
  div.contact-content {
    width: 80%;
    margin: 50px auto 80px;
    p {
      line-height: 150%;
    }
  }
  ul.contact-icons {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 0;
    width: 70%;
    margin: 0 auto 50px;
    li {
      text-align: center;
      a,
      span {
        font-size: 6rem;
      }
      a.fas {
        color: black;
        text-decoration: none;
      }
    }
  }
}

/* ==============================
  Styling for Works Page
============================== */

div.past-works-main {
  margin: 60px auto 60px;
  article.past_work {
    height: 250px;
    width: 90%;
    margin: 0 auto 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    div.work-thumbnail {
      height: 100%;
      margin-right: 20px;
      a img {
        height: 100%;
        width: 140px;
        object-fit: cover;
        box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2),
          0 2px 4px 0 rgba(0, 0, 0, 0.1),
          inset 0 0 0 0 rgba(255, 255, 255, 0.05);
      }
    }
    div.work-summary {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 100%;
      width: 100%;
      h2.work-name {
        margin-top: 10%;
        background-color: black;
        height: 50px;
        border-bottom: 6px solid $accent-color;
        border-radius: 20px 0;
        a {
          display: block;
          font-weight: 400;
          font-size: 0.9rem;
          color: white;
          line-height: 50px;
          text-align: center;
        }
      }
      p.work-tagline {
        margin: 0 10px 20px;
        font-size: 0.9rem;
      }
    }
    div.summary-footer {
      line-height: 120%;
      margin-left: 10px;
      i {
        margin-right: 3px;
        color: $accent-color;
      }
      a {
        color: black;
        font-size: 0.8rem;
      }
      div.category-wrapper {
        margin-bottom: 10px;
      }
    }
  }
}

/* ==============================
  Styling for Works Single Page
============================== */

body.single-past_work {
  margin: 0;
  padding-bottom: 80px;
  h2 {
    margin-top: 30px;
    height: 55px;
    line-height: 55px;
    font-weight: 400;
    text-align: center;
    background-color: black;
    color: white;
    border-bottom: 6px solid $accent-color;
  }
  div.work-single-wrapper {
    div.work-single-thumbnail {
      width: 50%;
      margin: 60px auto 40px;
      box-shadow: 0 18px 50px -10px rgba(0, 0, 0, 0.2), 0 0 0 currentColor;
      img {
        width: 100%;
        height: auto;
      }
    }
    a.work-url {
      display: block;
      background-color: black;
      border-radius: 22px;
      width: 50%;
      height: 45px;
      line-height: 45px;
      margin: 0 auto;
      color: white;
      text-align: center;
      font-size: 1rem;
    }
    p.open-up-new-window {
      text-align: center;
      font-size: 0.7rem;
      margin-top: 15px;
    }
  }
  div.work-detail {
    width: 70%;
    margin: 0 auto 90px;
    p.work-single-tagline {
      width: 100%;
      margin: 60px auto 50px;
      font-size: 1.4rem;
    }
    p.work-single-description {
      width: 90%;
      margin: 50px auto 70px;
    }
    p.work-detail-content {
      width: 80%;
      margin: 20px auto 50px;
    }
    h3.work-detail-heading {
      font-size: 1.3rem;
    }
  }
}

/* ==============================
  Styling for Archive Page
============================== */

body.archive {
  padding-bottom: 100px;
}
