/* ==============================
  Styling for front page
============================== */

body.home {
  h1 {
    margin-top: 60px;
  }
  .main-image-container {
    width: 70%;
    margin: 60px auto 70px;
  }
  nav ul li {
    &::after {
      background-size: 18%;
      background-position: 52% 0;
    }
    a {
      font-size: 1.7rem;
    }
  }
}

/* ==============================
  Styling for Header
============================== */

.site-header {
  h1 {
    margin-left: 50px;
    margin-top: 40px;
  }
}

/* ==============================
  Styling for Home Button
============================== */

.home-button {
  width: 120px;
  height: 60px;
  line-height: 60px;
  font-size: 1.1rem;
}

/* ==============================
  Styling for About Page
============================== */

div.about-tagline {
  p {
    margin: 60px 0;
    font-weight: bold;
    font-size: 2rem;
  }
}

div.about-field {
  width: 70%;
  div.about-field-content {
    p.philosophy-tagline {
      font-size: 1.7rem;
    }
    div.career-detail {
      width: 80%;
      margin: 60px auto 0;
    }
  }
}

/* ==============================
  Styling for Contact Page
============================== */

body.page {
  div.contact-content {
    p:not(.has-large-font-size) {
      font-size: 1.3rem;
      line-height: 150%;
    }
  }
  ul.contact-icons {
    width: 50%;
    margin: 0 auto 80px;
    li {
      a,
      span {
        font-size: 8rem;
      }
    }
  }
}

/* ==============================
  Styling for Works Page
============================== */

div.past-works-main {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  article.past_work {
    div.work-summary {
      h2.work-name a {
        font-size: 0.8rem;
      }
    }
  }
}

/* ==============================
  Styling for Works Single Page
============================== */

body.single-past_work {
  h2 {
    margin: 40px 0 90px;
    height: 65px;
    line-height: 65px;
  }
  div.work-single-wrapper {
    width: 90%;
    margin: 0 auto 100px;
    div.work-single-thumbnail {
      width: 40%;
      margin: 40px auto 40px;
    }
    a.work-url {
      width: 30%;
    }
  }
  div.work-detail {
    width: 60%;
    margin: 0 auto;
    p.work-single-tagline {
      font-size: 1.7rem;
      margin: 100px auto 70px;
    }
    p.work-single-description {
      font-size: 1.1rem;
    }
    p.work-detail-content {
      font-size: 1.1rem;
    }
    h3.work-detail-heading {
      font-size: 1.4rem;
    }
  }
}
